.textarea {
  width: 75%;
  height: auto;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: black;
  resize: none;
  overflow: hidden;
}

#text {
  font-size: 16px;
}

#heading {
  font-size: 32px;
}
