.textarea {
  width: 75%;
  height: auto;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #1e212b;
  color: white;
  resize: none;
  overflow: hidden;
}

.codearea {
  width: 50%;
  margin: auto;
  text-align: left;
}

#text {
  font-size: 16px;
}

#heading {
  font-size: 32px;
}
